@font-face {
  font-family: 'League Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/league-mono/LeagueMono-Regular.woff2) format('woff2');
}

:root {
  color-scheme: var(--color-scheme);
}

* {
  box-sizing: border-box;
}

html {
  --color-transition-duration: .5s;
  --font-monospace: 'League Mono', monospace;
  --font-body: 'Fira Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // For some reason, iOS makes the text on some <pre> tags (not all)
  // much larged. This property disables that behavior.
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color var(--color-transition-duration), background var(--color-transition-duration);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  font-family: var(--font-body);
  overflow-x: hidden;
  width: 100vw;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 32px;
}
h2 {
  font-size: 32px;
  margin: 32px 0 8px;
}
h3 {
  font-size: 24px;
  margin: 28px 0 8px;
}
h4 {
  font-size: 20px;
  margin: 24px 0 8px;
}
h5 {
  font-size: 16px;
  margin: 24px 0 8px;
}
h6 {
  font-size: 14px;
  margin: 24px 0 8px;
}

 pre, code {
  font-family: 'League Mono', monospace;
  font-weight: 400;
}

code {
  color: var(--color-blue);
  font-size: 0.925em;
  line-height: 1;
  background: var(--color-code-background);
  border-radius: 4px;
  display: inline-block;
  padding: 0.3em 0.4em 0.35em;
  transition: all var(--color-transition-duration);
}

a {
  color: var(--color-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    code {
      text-decoration: underline;
    }
  }
}

p, li {
  font-size: 18px;
}

ul, ol, p {
  margin: 8px 0 24px;
}

li {
  margin-bottom: 8px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

hr {
  margin: 32px 0;
  background: var(--color-medium-500);
  border: none;
  height: 1px;
}

blockquote {
  position: relative;
  margin: 24px 0;
  padding-left: 16px;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background: var(--color-medium-500);
  }
}

@keyframes blink {
  0% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.selection-cursor {
  position: relative;
  
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: var(--color-text);
    content: "";
    animation: blink 1s infinite;
    animation-delay: 1s;
  }
}
.selection-bg {
  background: rgba(19, 137, 255, 0.3);
  min-width: 12px;
}