.header {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.content {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  @media (max-width: 800px) {
    width: auto;
  }
}