

.title {
  font-size: 18px;
}

.link {
  color: inherit;
  display: block;
  
  &:hover {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }

  p {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
