.outerWrapper {
  position: relative;
}

.editorWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.lineWrapper {
  padding: 24px /* V_PADDING */ 0;
  overflow: hidden;

  @media (max-width: 640px /* SCRIPTED_EDITOR_MIN_WIDTH */) {
    padding: 3.75vw 0; // 24px / 640px
  }
}

.line {
  height: 27px /* LINE_HEIGHT */;

  @media (max-width: 640px /* SCRIPTED_EDITOR_MIN_WIDTH */) {
    height: 4.21875vw; // 27px / 640px
  }
}

.placeholder {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-background-300);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--font-monospace);
  color: var(--color-text-600);
  border-radius: 8px;
}