.container {
  margin: 0 -24px;
  transform: scale(0.95);
  opacity: 0.8;
  transition: transform .5s, opacity .5s;
  
  &[data-active="true"] {
    opacity: 1;
    transform: scale(1);
    transition: transform .4s, opacity .3s;
  }
}

.editor {
  z-index: 1;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(35, 156, 255, 0.35);
  transition: box-shadow .3s;
  
  &[data-focus-inside="true"] {
    transition: box-shadow .175s;
    box-shadow: 0 0 0 8px rgba(35, 156, 255, 0.35);
  }
}