.container {
  padding: 16px;
  max-height: 128px;
  overflow-y: auto;
  background: var(--color-background-500);
  border-radius: 8px;
  color: white; 
}

.line {
  align-items: stretch;
  display: flex;
  cursor: pointer;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--color-background);
  padding: 2px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
  width: 40px;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.key {
  border: 1px solid var(--color-medium-500);
  font-family: var(--font-monospace);
  background: var(--color-medium-400);
  padding: 0 4px;
  color: var(--color-text);
  min-width: 22px;
  min-height: 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}