.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: var(--color-background-500);
  padding: 64px 8px 24px;
  overflow: hidden;
  border-radius: 16px;
  color: white;
  z-index: 10;
}

.scroll {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: transform .5s;
}

.command {
  overflow: hidden;
  transition: opacity .5s;
}