.wrapper {
  background: var(--color-background-500);
  border-radius: 4px;
  display: flex;
  overflow: auto;
  transition: background var(--color-transition-duration);

  @media (max-width: 800px) {
    border-radius: 0;
  }
}

.pre {
  white-space: pre;
  line-height: 1.5;
  margin: 0px;
}